<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../node_modules/@materializecss/materialize/dist/css/materialize.css">
</head>
<body>
  
    <footer class="page-footer black">
        <div class="container">
          <div class="row">
            <div class="l6 s12">
              <h5>Footer Content</h5>
              <p>You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="l4 offset-l8 s12">
              <h5>Links</h5>
              <ul>
                <li><a href="#!">Link 1</a></li>
                <li><a href="#!">Link 2</a></li>
                <li><a href="#!">Link 3</a></li>
                <li><a href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright black">
          <div class="container">
          © 2014 Copyright Text
          </div>
        </div>
      </footer>
            
</body>
</html>